/* Note that the display property for HTML5 elements is already accounted for in normalize.min.css, so that rule is omitted here. */
@font-face {
    font-family: 'Franklin Gothic';
    src: url('../font/franklin-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Condensed';
    src: url('../font/victory-comics-condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Semi';
    src: url('../font/victory-comics-semi.ttf') format('truetype');
}

html {
    background-color: #fcf7fe;
    box-sizing: border-box;
    color: #1a1919;
    font-family: 'Franklin Gothic', sans-serif;
}

*,
*::before,
*::after {
    border: 0;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    background: url('../img/jungle.jpg') center/cover;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    color: #ff6904;
    font: 3rem 'Victory Comics Condensed', sans-serif;
    padding: 12rem 1rem;
    text-shadow: 0.05em 0 30px #191e0e, 0 0.05em 30px #191e0e, 0 -0.05em 30px #191e0e, -0.05em -0.05em 30px #191e0e, -0.05em 0.05em 30px #191e0e, 0.05em -0.05em 30px #191e0e;
}

h2 {
    font: 1.9rem 'Victory Comics Semi', sans-serif;
    margin-bottom: 0.5rem;
}

a,
a:link,
a:visited {
    color: #b74900;
}

a:focus,
a:hover {
    color: #116d8c;
    outline: none;
    transition: 0.25s;
}

a:active {
    text-decoration: none;
}

button {
    background:
        linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(26,25,25,1) 6%, rgba(26,25,25,0) 6%, rgba(26,25,25,0) 94.5%, rgba(26,25,25,1) 94.5%) center/cover #ff6904;
    color: #1a1919;
    display: block;
    font: 1.7rem 'Victory Comics Semi', sans-serif;
    margin: 1.5rem auto;
    padding: 2.1rem 3.05rem;
}

button:focus,
button:hover {
    background:
        linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(26,25,25,1) 6%, rgba(26,25,25,0) 6%, rgba(26,25,25,0) 94.5%, rgba(26,25,25,1) 94.5%) center/cover #98dbf1;
    outline: none;
    transition: 0.25s;
}

button:active {
    background:
        linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(255,105,4,1) 6%, rgba(255,105,4,0) 6%, rgba(255,105,4,0) 94.5%, rgba(255,105,4,1) 94.5%) center/cover #98dbf1;
}

img {
    width: 100%;
}

header {
    background: url('../img/gym-interior3.jpg') center/cover;
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 12rem;
}

header section {
    background-color: rgba(252, 247, 254, 0.8);
    box-shadow: 0 0 5px 6px rgba(252, 247, 254, 0.8);
    margin: 12rem auto 0;
    max-width: 520px;
    padding: 1.2rem;
    width: 80%;
}

header section a {
    font-size: 1.3rem;
}

header ul {
    display: none;
}

main {
    margin: 0 auto;
    max-width: 1400px;
}

section {
    padding: 0 2rem;
}

p {
    line-height: 1.4rem;
    letter-spacing: 0.01rem;
}

p + p {
    margin-top: 0.5rem;
}

footer {
    background: url('../img/tiger-pattern3.jpg') center/cover;
    clear: both;
    color: #fcf7fe;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1.5rem 0 1.4rem;
    text-align: center;
    text-shadow: 0.05em 0 30px #010101, 0 0.05em 30px #010101, 0 -0.05em 30px #010101, -0.05em -0.05em 30px #010101, -0.05em 0.05em 30px #010101, 0.05em -0.05em 30px #010101;
}

nav {
    background-color: #fcf7fe;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
}

.cookcodesmenu_menu {
    padding: 0.75rem 0;
}

.cookcodesmenu_brand {
    display: inline-block;
    max-width: 140px;
    margin-right: 35%;
}

.hamburger {
    width: 2.2rem;
    border-bottom: 0.25rem solid #1a1919;
    margin: 6px 0;
}

.cookcodesmenu_btn {
    display: inline-block;
    position: relative;
    top: -0.6rem;
}

.cookcodesmenu_nav {
    position: relative;
    top: 0.8rem;
}

.cookcodesmenu_nav li a {
    background-color: #b74900;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    color: #fcf7fe;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.sticky {
    box-shadow: 0 0 5px 6px #fcf7fe, 0 3px 4px 2px #1a1919;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Media Queries */

/* First Breakpoint: 800+ px */
@media (min-width: 800px) {

    header ul {
        display: block;
    }
}

/* Second Breakpoint: 1280+ px */

@media (min-width: 1280px) {

}
