/* Note that the display property for HTML5 elements is already accounted for in normalize.min.css, so that rule is omitted here. */
@font-face {
    font-family: 'Franklin Gothic';
    src: url('../font/franklin-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Condensed';
    src: url('../font/victory-comics-condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Semi';
    src: url('../font/victory-comics-semi.ttf') format('truetype');
}

html {
    background-color: #fcf7fe;
    box-sizing: border-box;
    color: #1a1919;
    font-family: 'Franklin Gothic', sans-serif;
}

*,
*::before,
*::after {
    border: 0;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    background: url('../img/jungle.jpg') center/cover;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    color: #ff6904;
    font: 3rem 'Victory Comics Condensed', sans-serif;
    padding: 12rem 1rem;
    text-shadow: 0.05em 0 30px #191e0e, 0 0.05em 30px #191e0e, 0 -0.05em 30px #191e0e, -0.05em -0.05em 30px #191e0e, -0.05em 0.05em 30px #191e0e, 0.05em -0.05em 30px #191e0e;
}

h2 {
    font: 2rem 'Victory Comics Semi', sans-serif;
    margin-bottom: 0.8rem;
}

a,
a:link,
a:visited {
    color: #b74900;
}

a:focus,
a:hover {
    color: #116d8c;
    outline: none;
    transition: 0.25s;
}

a:active {
    text-decoration: none;
}

nav > a:focus,
.cookcodesmenu_brand > a:focus,
.cookcodesmenu_menu > a:focus {
    outline: 0.3rem outset #b74900;
}

.cookcodesmenu_nav li a:focus,
.cookcodesmenu_nav li a:hover {
    background-color: #fcf7fe;
    color: #116d8c;
    font-weight: bold;
}

img {
    display: block;
    width: 100%;
}

header {
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
}

.splash {
    background: url('../img/gym-interior3.jpg') left/cover;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    padding-bottom: 22rem;
}

header section {
    background-color: rgba(252, 247, 254, 0.8);
    box-shadow: 0 0 5px 6px rgba(252, 247, 254, 0.8);
    margin: 22rem auto 0;
    max-width: 640px;
    padding: 1.2rem;
    width: 80%;
}

header section a {
    font-size: 1.3rem;
}

header ul {
    display: none;
    list-style-type: none;
}

#logo {
    display: none;
    max-width: 140px;
}

main {
    margin: 0 auto;
    max-width: 1400px;
}

section {
    padding: 1.5rem 2rem 2.2rem;
}

main section {
    background-color: #fcf7fe;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
}

main section h2,
main section p,
main section img {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

main section img {
    margin-bottom: 1rem;
}

p {
    line-height: 1.4rem;
    letter-spacing: 0.01rem;
}

p + p {
    margin-top: 0.8rem;
}

footer {
    background: url('../img/tiger-pattern3.jpg') right/cover;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    clear: both;
    color: #fcf7fe;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1.5rem 0 1.4rem;
    text-align: center;
    text-shadow: 0.05em 0 30px #010101, 0 0.05em 30px #010101, 0 -0.05em 30px #010101, -0.05em -0.05em 30px #010101, -0.05em 0.05em 30px #010101, 0.05em -0.05em 30px #010101;
}

nav {
    background-color: #fcf7fe;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
}

.cookcodesmenu_menu {
    padding: 0.75rem 0;
}

.cookcodesmenu_brand {
    display: inline-block;
    max-width: 140px;
    margin-right: 35%;
}

.hamburger {
    width: 2.2rem;
    border-bottom: 0.25rem solid #1a1919;
    margin: 6px 0;
}

.cookcodesmenu_btn {
    display: inline-block;
    position: relative;
    top: -0.6rem;
}

.cookcodesmenu_nav {
    position: relative;
    top: 0.8rem;
}

.cookcodesmenu_nav li a {
    background-color: #b74900;
    box-shadow: inset 0 -6px 14px -6px rgba(26, 25, 25, 0.7);
    color: #fcf7fe;
    display: inline-block;
    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.sticky {
    box-shadow: 0 0 5px 6px #fcf7fe, 0 3px 4px 2px #1a1919;
    position: fixed;
    max-width: 1400px;
    width: 100%;
    top: 0;
    z-index: 100;
}

a.current,
.cookcodesmenu_nav li a.current {
    background-color: #fcf7fe;
    color: #1a1919;
    font-weight: bold;
}

#social {
    list-style-type: none;
    margin: 1rem auto 0;
    max-width: 900px;
}

#social li {
    display: inline;
}

#social li + li {
    margin-left: 1rem;
}

#social li a img {
    display: inline-block;
    margin-bottom: 0;
    max-width: 35px;
}

#social li a:focus,
#social li a:hover {
    outline: 0.3rem outset #1a1919;
}

.day {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
    width: 2.75rem;
}

.price {
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin: 1.5rem auto 0;
    text-align: center;
}

button {
    background:
        linear-gradient(135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(26,25,25,1) 6%, rgba(26,25,25,0) 6%, rgba(26,25,25,0) 94.5%, rgba(26,25,25,1) 94.5%) center/cover #ff6904;
    color: #1a1919;
    font: 1.4rem 'Victory Comics Semi', sans-serif;
    margin-left: 1.5rem;
    max-width: 290px;
    padding: 2rem 2.5rem 2rem 2.2rem;
    vertical-align: middle;
    width: 60%;
}

button:focus,
button:hover {
    background:
        linear-gradient(135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(26,25,25,1) 6%, rgba(26,25,25,0) 6%, rgba(26,25,25,0) 94.5%, rgba(26,25,25,1) 94.5%) center/cover #98dbf1;
    outline: none;
    transition: 0.25s;
}

button:active {
    background:
        linear-gradient(135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(-135deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) top/0.75rem 0.75rem repeat-x,
        linear-gradient(45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(-45deg, rgba(252,247,254,1) 50%, rgba(252,247,254,0) 50%) bottom/0.75rem 0.75rem repeat-x,
        linear-gradient(90deg, rgba(255,105,4,1) 6%, rgba(255,105,4,0) 6%, rgba(255,105,4,0) 94.5%, rgba(255,105,4,1) 94.5%) center/cover #98dbf1;
}

figure {
    font-size: 1.05rem;
    margin: auto;
    max-width: 300px;
}

#smoothies section,
#registration section {
    text-align: center;
}

.orange {
    color: #b74900;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

form {
    background-color: #1a1919;
    color: #fcf7fe;
    border-radius: 2rem;
    margin: auto;
    max-width: 900px;
    padding: 1rem 2rem 2rem;
}

label,
form p {
    display: block;
    font-size: 1.2rem;
    padding: 1.5rem 0 0.5rem;
}

input[type="text"],
input[type="email"],
select {
    background-color: #fcf7fe;
    color: #1a1919;
    display: block;
    font-family: 'Franklin Gothic', sans-serif;
    margin: auto;
    max-width: 500px;
    padding: 0.5rem;
    width: 95%;
}

input[type="submit"] {
    animation: heartbeat 1.75s ease-in-out infinite both;
    -moz-animation: heartbeat 1.75s ease-in-out infinite both;
    -webkit-animation: heartbeat 1.75s ease-in-out infinite both;
    background-color: #ff6904;
    color: #1a1919;
    border-radius: 1.5rem;
    display: block;
    font: 1.4rem 'Victory Comics Semi', sans-serif;
    margin: 2.4rem auto 0.5rem;
    padding: 0.75rem 2rem;
}

input:focus,
input:hover,
select:focus,
select:hover {
    outline: #ff6904 outset 0.25rem;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: #98dbf1;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

/* Keyframes */

@keyframes heartbeat {

    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(1.1);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(1.02);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(1.09);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/* Media Queries */

/* First Breakpoint: 800+ px */
@media (min-width: 800px) {

    html {
        font-size: 110%;
    }

    header ul,
    #logo,
    nav a {
        display: inline-block;
        text-decoration: none;
    }

    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.05rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    #logo {
        padding: 0.75rem 0.5rem 0.75rem 0;
    }

    nav ul li {
        display: inline-block;
        font-size: 1.15rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        padding-left: 2.75rem;
        position: relative;
        top: -1.8rem;
    }

    p {
        font-size: 1.1rem;
    }

    button {
        margin-left: 4.5rem;
    }

    #smoothies section {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

}

/* Second Breakpoint: 960+ px */

@media (min-width: 960px) {

    nav ul li {
        font-size: 1.35rem;
        padding-left: 4rem;
    }

}
